<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('cssAdmin/mainAdmin.css') }}" >
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <meta charset="UTF-8" />
        <title>{% block title %}BeWeb{% endblock %}</title>
    {% block stylesheets %}{% endblock %}


</head>
<header>

</header>
<body>
</body>
</html>


<div>

    {{form_start(formtexte,{'attr':{'action':path('updateSection',{'id':id})}})}} {#Methde pour valide #}

    <div class="container">
        <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
            
                <div class="input-group" >
                    <span class="input-group-addon" >Titre</span>

                    {{ form_widget(formtexte.titre, { 'attr': {'class': 'form-control'} })}}
                </div>


                <div class="input-group">
                    <span class="input-group-addon" >Texte</span>
                    {{ form_widget(formtexte.texte, { 'attr': {'class': 'form-control'} })}}
                </div>

                {{form_end(formtexte)}}
            </div>
        </div>
    
</div>