<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('../web/css/main.css') }}" >
        <meta name="viewport" content="width=device-width, user-scalable=no">
        
        <meta charset="UTF-8" />
        <title>{% block title %}BeWeb{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
<header>
    
</header>
<body>
    
    {% block body %}
        
        
        <nav class="navbar navbar-inverse navbar-fixed-top">
            
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
     
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active col-md-2"><a href="#">Ecole</a></li>
        <li class="col-md-2"><a href="#">Concept</a></li>
        <li class="col-md-2"><a href="#">Partenaires</a></li>
        <li class="col-md-2"><a href="#">Inscription</a></li>
        <li class="col-md-2"><a href="#">Contact</a></li>
        <li class="col-md-2"><a href="{{path('homePromo')}}">Promos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       
      </ul>
    </div>
</nav>



    
        <div class="container-fluid ecole">
            <div class="container">
                <section>
                    
                    {% for annonceText in sectionText %}
                        <h2> {% if ( annonceText.classe  == "ecole" ) %} {{annonceText.titre}} {% endif %} </h2>
                    {% endfor %}
                </section>
            </div>
            <div class="container">
                <section class="couleur">
                    <p class="paragraphe"> 
                        {% for annonceText in sectionText %}
                                {% if ( annonceText.classe  == "ecole" ) %} {{annonceText.texte}} {% endif %}
                        {% endfor %}
                    </p>
                </section>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <section>
                    {% for annonceText in sectionText %}
                        <h2> {% if ( annonceText.classe  == "concept" ) %} {{annonceText.titre}} {% endif %} </h2>
                    {% endfor %}
                </section>
            </div>
            <div class="container">
                <section class="couleur">
                    <p class="paragraphe"> 
                        {% for annonceText in sectionText %}
                                {% if ( annonceText.classe  == "concept" ) %} {{annonceText.texte}} {% endif %}
                        {% endfor %}
                    </p>
                </section>
            </div>
        </div>  
   <div class="container-fluid">
            <div class="container">
                <section>
                    <h2>Partenaire</h2>
                     {% for annonceText in sectionText %}
                        
                    {% endfor %}
                </section>
            </div>
            <div class="container">
                <section class="couleur">
                     <p class="paragraphe"> 
                         
                         <div class="row">
                             {% for partenaire in parte %}
                             <div class="col-sm-6 col-md-4">
                                 <div class="thumbnail">
                                     <img src="..." alt="...">
                                     <div class="caption">
                                         <h3>{{partenaire.nom}}</h3>
                                         
                                     </div>
                                 </div>
                             </div>
                                {% endfor %}
                         </div>
                         

                     
                     </p>
                </section>
            </div>
        </div>  
   <div class="container-fluid">
            <div class="container">
                <section>              
                        <h2> Iinscription </h2>
                </section>
            </div>
            <div class="container">
                <section class="couleur">
                    <p class="paragraphe"> 
                        {% for annonceText in sectionText %}
                                {% if ( annonceText.classe  == "inscription" ) %} {{annonceText.texte}} {% endif %}
                        {% endfor %}
                    </p>
                </section>
            </div>
        </div>  

    
    {% endblock %}
 
{% block javascripts %}{% endblock %}
<script src="../vendor/twbs/bootstrap/js/tests/vendor/jquery.min.js"></script>
<script src="../vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
<footer>Copyright FondesierreRH</footer>
</html>
